.promo-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  @apply fill-primary-main;
  transition: fill 0.6s ease;
}

.promo-button {
  position: absolute;
  bottom: -10rem;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  @apply text-white;
}

.promo-title {
  position: absolute;
  @apply text-primary-main;
  top: 50%;
  width: 20rem !important;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  transition:
    font-size 0.3s ease,
    top 0.3s ease,
    left 0.3s ease;
}

#promotion {
  width: 22.5rem;
  height: 22.5rem;
  position: relative;
  overflow: hidden;
  border: 1px solid gray;
  @apply rounded-lg;
}

#promotion::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: white;
  transition: opacity 0.6s ease;
}

#promotion:hover > .promo-button {
  bottom: 1rem;
}

#promotion:hover > .promo-icon {
  @apply fill-white;
}

#promotion:hover > .promo-title {
  top: 2rem;
  left: 10rem;
}

#promotion:hover > .promo-title h2 {
  @apply text-white !important;
  @apply text-body1 font-bold !important;
  @apply text-start !important;
}

#promotion:hover::after {
  opacity: 0;
}
